<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.attendance.ISettingDao">
  <resultMap id="BaseResultMap" type="entity.Setting">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="userid" jdbcType="VARCHAR" property="userid" />
    <result column="advanceminute" jdbcType="INTEGER" property="advanceminute" />
  </resultMap>
  <sql id="Base_Column_List">
    id, userid, advanceminute
  </sql>
  <select id="selectByUserId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from setting
    where userid = #{userid,jdbcType=VARCHAR}
  </select>
  <update id="update" parameterType="entity.Setting">
    update setting
    <set>
      <if test="advanceminute != null">
        advanceminute = #{advanceminute,jdbcType=INTEGER},
      </if>
    </set>
    where userid = #{userid,jdbcType=VARCHAR}
  </update>


  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from setting
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from setting
    where id = #{id,jdbcType=VARCHAR}
  </delete>
</mapper>